/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
#head-logo{
    padding: 15px 25px 15px;
}
#title{
    display: inline-block;
    font-size: 40px;
    vertical-align: top;
}
/* MAIN */
#button-div{
    background-color: white;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 80%;
    margin: 0 auto;
}

.buttons{
    padding: 8px 8px;
    border-radius: 10%;
}

.buttons.first{
    background-color: rgb(71, 173, 241);
    color: white;
}

.buttons.second{
    color: rgb(209, 214, 218);
    background-color: white;
}
#main-box{
    background-color: rgb(246, 248, 249);
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.task-title::before{
    content: "\25BC";
}

.task::before{
    content: "\2713";
    border: 1px solid rgb(137, 208, 192);
    color: rgb(137, 208, 192);
    border-radius: 50%;
    padding: 3px;
    margin-right: 5px;
}

.task-failed::before{
    content: "\2717";
    border: 1px solid rgb(238, 102, 93);
    color: rgb(238, 102, 93);
    border-radius: 50%;
    padding: 3px;
    margin-right: 5px;
}

.span{
    font-size: 12px;
    border: 1px solid none;
    border-radius: 25px;
    padding: 7px 10px;
    margin-left: 5px;
}

.span.editorial{
    background-color: rgb(69, 171, 234);
    color: white;
}

.span.Q1{
    background-color: rgb(156, 114, 228);
    color: white;
}

.span.recruiting{
    background-color: rgb(100, 192, 169);
    color: white;
}

.span.mobile{
    background-color: rgb(242, 158, 51);
    color: white;
}

.span.website{
    background-color: rgb(216, 99, 161);
    color: white;
}

.span.sales{
    background-color: rgb(176, 201, 38);
    color: white;
}

#main-task-div{
    width: 80%;
    background-color: white;
    margin: 5px auto;
    padding: 50px 0px;
}

.task, .task-title, .task-failed{
    padding-top: 8px;
    padding-left: 20px;
    padding-bottom: 8px;
    margin-bottom: 5px;

}