*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(246, 248, 249);
}

/* HEADER */

#logo{
    height: 150px;
    background-color: white;
    margin-left: 30px;
}

#img{
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

#title{
    font-size: 80px;
    line-height: 150px;
    vertical-align: middle;
}

/* MAIN */

.button{
    font-size: 20px;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
}

.task.button{
    background-color: rgb(71, 173, 241);
    color: white;
}

.section.button{
    color: rgb(207, 212, 216);
}