*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(246, 248, 249);
}

/* HEADER */

#logo{
    height: 150px;
    background-color: white;
    padding-left: 30px;
    margin-bottom: 100px;
}

#img{
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

#title{
    font-size: 80px;
    line-height: 150px;
    vertical-align: middle;
}

/* MAIN */
.container{
    margin: 0 auto;
    width: 70%;
}

.button{
    font-size: 20px;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
}

.buttons{
    background-color: white;
    padding: 20px 0px;
}

.buttons, .tasks{
    padding-left: 100px;
}

.task.button{
    background-color: rgb(71, 173, 241);
    color: white;
}

.section.button{
    color: rgb(207, 212, 216);
    background-color: white;
}

.tasks{
    font-size: 30px;
    background-color: white;
    margin-top: 5px;
}

ul{
    list-style: none;
    padding: 50px 0px;
}

li{
    padding: 20px 0px;
}

ul::before{
    content: "\25BC";
}

.done::before{
    content: "\2713";
    border: 1px solid green;
    border-radius: 50%;
    padding: 10px 10px;
    margin-right: 10px;
    color: green;
}

.undone::before{
    content: "\2715";
    border: 1px solid red;
    border-radius: 50%;
    padding: 10px 10px;
    margin-right: 10px;
    color: red;
}

.highlight{
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    margin-left: 10px;
}
.highlight.editorial{
    background-color: rgb(69, 171, 234);
}
.highlight.Q{
    background-color: rgb(156, 114, 228);
}

.highlight.recruiting{
    background-color: rgb(100, 192, 169);
}

.highlight.mobile{
    background-color: rgb(242, 158, 51);
}

.highlight.website{
    background-color: rgb(216, 99, 161);
}

.highlight.sales{
    background-color: rgb(176, 201, 38);
}

